/* === GENERAL === */
body{
	padding-top: 50px;
	background: url('../img/texture.png') top left repeat;
}

.header-section{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.wrap{
	padding-top: 50px;
	padding-bottom: 50px;
}

h1{
	font-family: 'Graduate', cursive;
}

h2{
	font-family: 'Pacifico', cursive;
}
/* === TITLE & ENROLL ===*/

#title-enroll .jumbotron{
	background: url('../img/mainBackground.png') 50% 0 no-repeat fixed;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: white;
}

/* === Course Target ===*/

#course-target{
	background-color: #BF3E11;
	color: white;
}

/* === Course Feature ===*/

#course-features{
	background-color: white;

}

#course-features i{
	margin-top: 20px;
}

/* === Course Feature ===*/

#instructor .left-side{
}

/* === Instructor === */
#instrcutor .left-side{

}

.badge.social{
	background: #95A5A6;
	font-size: 20px;
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 35px;
	margin-top: 5px;
	padding: 0;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	color: white;
}

.badge.social.twitter:hover{
	background: #55ACEE;
}

.badge.social.linkedin:hover{
	background: #4875b4;
}

.badge.social.globe:hover{
	background: #26c281;
}

/* === Promotional-Video === */

#promo-video{
	background: #563d7c;
	color: white;
}

/* === Footer === */

#footer{
	padding: 20px;
	background: #22313f;
	color: white;
}

#footer a{
	color: #f5ab35;
}

#footer a:hover{
	color: #f9690e;
}

/* === DISCUSSIONS === */
#discussions{
	background: white;
}

#discussions #btn-form, #discussions #btn-form-answer{
	margin-top: 5px;
	text-align: right;
}

/* === ADMIN COURSE === */

#admin-course .container{
	background: white;
	min-height: 600px;
}

#admin-course .panel-heading a{
	color: white;
}
